@import url("https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  background-image: linear-gradient(to right bottom, #eeeeee, #8d99ae);
  background-repeat: no-repeat;
  font-family: "Noto Serif", serif;
}

h1, h2, h3, h4 {
  font-family: "Inter", sans-serif;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 2.3rem;
}

h3 {
  font-size: 2.5rem;
  padding-bottom: 1rem;
}

p {
  font-size: 2rem;
}

.container {
  max-width: 120rem;
  margin: 0 auto 0 auto;
}

.header {
  background-color: #326273;
  font-size: 1.8rem;
  display: grid;
  grid-column: full-start/full-end;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}
.header_logo-box {
  margin: 1rem;
}
.header_logo {
  width: 5rem;
  display: inline;
}
.header_navbar {
  margin-left: auto;
  margin-right: 0;
  display: grid;
  grid-gap: 2rem;
  align-items: center;
  font-family: "Inter", sans-serif;
}
.header_navbar_list {
  list-style: none;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}
.header_navbar_item {
  float: left;
}
.header_navbar_link:link, .header_navbar_link:visited {
  font-size: 2rem;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding: 1.5rem;
  display: block;
  transition: all 0.2s;
}
.header_navbar_link:hover, .header_navbar_link:active {
  color: #e39774;
  transform: translateY(-3px);
}
.header_navbar_link:active {
  transform: translate(0px);
}

.footer {
  background-color: #326273;
  font-size: 2rem;
  display: grid;
  grid-column: full-start/full-end;
  grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
  padding: 5rem 6rem 6rem 6rem;
  text-align: center;
}
.footer_contact {
  font-size: 2rem;
  color: #ffffff;
  text-transform: uppercase;
  display: block;
}
.footer_contact a {
  text-decoration: none;
  color: #ffffff;
}
.footer_contact a:hover {
  text-decoration: underline;
}
.footer_contact p {
  text-align: center;
}

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.8rem;
  border: none;
  cursor: pointer;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.btn-blue {
  background-color: #326273;
  color: #ffffff;
}
.btn-blue::after {
  background-color: #326273;
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn-animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

.intro {
  height: 85vh;
  background-image: linear-gradient(to right bottom, rgba(92, 158, 173, 0.6), rgba(50, 98, 115, 0.6)), url(../images/tablephone.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
}
.intro_textbox {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}
.intro_heading {
  font-weight: 400;
  letter-spacing: 2rem;
}
.intro_subheading {
  font-weight: 600;
  letter-spacing: 1.4rem;
}

.first {
  margin: 13rem 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
}
.first_content {
  background-image: linear-gradient(to right bottom, rgba(239, 234, 216, 0.8), rgba(92, 158, 173, 0.3));
  padding: 2rem;
  border-radius: 0.4rem;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
}
.first h3 {
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, rgba(92, 158, 173, 0.85), rgba(50, 98, 115, 0.85));
}

.cards {
  height: 80vh;
  background-image: linear-gradient(to right bottom, rgba(92, 158, 173, 0.6), rgba(50, 98, 115, 0.6)), url(../images/bedcomp.jpg);
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cards_content {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.45);
  padding: 3rem;
  padding-left: 9rem;
  transform: skewX(-12deg);
}
.cards_content p {
  transform: skewX(12deg);
}
.cards_content h3 {
  transform: translateX(-10px) skewX(12deg);
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, rgba(50, 98, 115, 0.85), rgba(0, 0, 0, 0.85));
}

.title {
  padding-bottom: 3rem;
}
.title_date {
  padding-bottom: 2rem;
}

.instance {
  display: grid;
  grid-template-columns: 75% 25%;
  height: 40rem;
  overflow: hidden;
  background-color: rgba(141, 153, 174, 0.75);
  margin: 5rem;
  border-radius: 5px;
}
.instance_image {
  margin: auto;
  height: 41rem;
}
.instance_image-img {
  max-height: 100%;
  object-fit: scale-down;
}
.instance_comments {
  overflow: scroll;
  padding: 1rem;
  height: 39rem;
  background-color: rgba(255, 255, 255, 0.75);
}
.instance_content {
  padding: 3rem;
}
.instance_paragraph {
  overflow: scroll;
  font-size: 1.8rem;
  display: inline-block;
  height: 30rem;
  scrollbar-width: none;
}
.instance_heading {
  font-size: 2.5rem;
}
.instance_author {
  font-size: 1.3rem;
  font-weight: 700;
}

.title {
  background-color: rgba(255, 255, 255, 0.3);
  text-align: center;
}
.title_content {
  display: grid;
  grid-template-columns: 50% 20%;
  gap: 10rem;
  padding: 0 10rem 5rem 10rem;
  text-align: justify;
}
.title_heading {
  text-align: center;
  padding: 3rem 0 3rem 0;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, rgba(92, 158, 173, 0.85), rgba(50, 98, 115, 0.85));
  text-transform: uppercase;
}
.title_image {
  width: 100%;
}
.title_shape {
  width: 30rem;
  position: relative;
  overflow: hidden;
  border-radius: 3rem;
}
.title p {
  margin: auto;
}

.create {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 50%, transparent 53%), url(../images/redphone.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 5rem 0 0 5rem;
}
.create_heading {
  font-size: 4rem;
  margin-bottom: 3rem;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, rgba(92, 158, 173, 0.85), rgba(50, 98, 115, 0.85));
}

.form {
  padding-bottom: 5rem;
}
.form_group:not(:last-child) {
  margin-bottom: 2rem;
}
.form_input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(141, 153, 174, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 40%;
  display: block;
  transition: all 0.3s;
}
.form_input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #326273;
}
.form_input:focus:invalid {
  border-bottom: 3px solid #5c9ead;
}
.form_input::-webkit-input-placeholder {
  color: #8d99ae;
}
.form_label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
}
.form_input:placeholder-shown + .form_label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}
.form_buttons {
  padding-left: 8%;
}
.form h4 {
  font-size: 2.3rem;
}
.form_check-input {
  display: inline-block;
}
.form_check-label {
  display: inline;
  font-size: 1.8rem;
}

/*# sourceMappingURL=style.css.map */
