.title {
  padding-bottom: 3rem;
  &_date {
    padding-bottom: 2rem;
  }
}

.instance {
  display: grid;
  grid-template-columns: 75% 25%;
  height: 40rem;
  overflow: hidden;
  background-color: rgba($color-gray, 0.75);
  margin: 5rem;
  border-radius: 5px;
  &_photo-info {
    text-decoration: underline;
    font-size: 1.3rem;
    display: block;
  }
  &_image {
    margin: auto;
    height: 41rem;
    &-img {
      max-height: 100%;
      object-fit: scale-down;
    }
  }
  &_comments {
    overflow: scroll;
    padding: 1rem;
    height: 39rem;
    background-color: rgba($color-white, 0.75);
    & h4 {
      font-size: 2rem;
      margin-top: 1.5rem;
    }
  }
  &_date,
  &_time {
    font-size: 1.4rem;
    color: $color-dark-gray;
  }
  &_time {
    font-style: italic;
  }
  &_content {
    padding: 3rem;
  }
  &_paragraph {
    overflow: scroll;
    font-size: $font-size-regular;
    display: inline-block;
    height: 30rem;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  &_paragraph::-webkit-scrollbar {
    display: none;
  }
  &_heading {
    font-size: $font-size-leadtext;
  }
  &_author {
    font-size: 1.3rem;
    font-weight: 700;
  }
  @include responsive(tablet) {
    display: block;
    height: auto;
    text-align: center;
    &_content,
    &_comments {
      text-align: left;
    }
    &_image {
      height: auto;
      &-img {
        max-height: 100%;
        width: 100%;
      }
    }
  }
}
