@mixin background-text($first-color, $second-color) {
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(
    to right,
    rgba($first-color, 0.85),
    rgba($second-color, 0.85)
  );
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@mixin responsive($size) {
  @if $size == phone {
    @media only screen and (max-width: 650px) {
      @content;
    }
  }
  @if $size == tablet {
    @media only screen and (max-width: 1024px) {
      @content;
    }
  }
}
