//colors
$color-cadet-blue: #5c9ead;
$color-white: #ffffff;
$color-blue: #326273;
$color-off-white: #eeeeee;
$color-dirty-white: #efead8;
$color-gray: #8d99ae;
$color-dark-gray: #4b4b4b;
$color-orange: #e39774;
$color-black: #000000;

//font
$font-body: "Noto Serif", serif;
$font-heading: "Inter", sans-serif;
$font-size-regular: 1.8rem;
$font-size-leadtext: 2.5rem;
$font-size-subheading: 2.3rem;
$font-size-heading: 6rem;
