//colors
$color-cadet-blue: #5c9ead;
$color-white: #ffffff;
$color-blue: #326273;
$color-off-white: #eeeeee;
$color-gray: #8d99ae;
$color-orange: #e39774;
$color-black: #000000;

//font
$font-body: 'Noto Serif', serif;
$font-heading: 'Inter', sans-serif;